{% extends 'ecommerce_app/base.html' %}
{% block title %}About Us - MyShop{% endblock %}
{% block content %}
  <h1>About MyShop</h1>
  <p>
    MyShop General Supplies is your trusted partner for reliable, affordable and high-quality cleaning products and manufactured goods.
    <br><br>
    Whether you're a business, institution, or household, we’ve got the essentials you need.
  </p>
  <h3>📍 Located:</h3>
  <p>Nairobi, Kenya</p>
  <h3>📞 Contact:</h3>
  <p>Email: info@myshop.co.ke<br>WhatsApp: +254 712 345 678</p>
{% endblock %}
